[run]
source = .
omit =
    tests/*
    */__pycache__/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise NotImplementedError
    raise HTTPException
    except ImportError
    pass

[html]
directory = htmlcov
